body{
    background-color: black;
}
div{
    width: 50%;
    margin-top: 50px;
    color: white;
    text-align: center;
    margin-left: 25%;
}
h1{
    font-family:  "Libre Baskerville", serif;
    text-transform: uppercase;
}

img{
    border: 5px solid white;
    width: 100%;
}